In [1]:
import pandas as pd
from apl.data import read_data
from apl.prep.prelim import xcolms, ycolm
from apl.prep.prep import sample, extract_int

In [2]:
operations = {
'extract_int' : ['STATION_ID', 'MACHINEID',
                 'MACHINEID_TESTER', 'MODULE2_FACTORY',
                 'MODULE2_BUILD', 'MODULE3_TOOL',
                 'MODULE3_SUBMOD2', 'MODULE3_CTool'],

'oneHotEncode':['PRODUCT', 'LINE_ID',
                'MODULE1_Vendor', 'MODULE2_Vendor',
                'MODULE2_CODE', 'MODULE3_Vendor',
                'MODULE3_SUBMOD2_Config', 'MODULE3_PHASE',],

'standardise': [ 'MODULE2_X1', 'MODULE2_X2',
                 'MODULE2_X3', 'MODULE2_X4',
                 'MODULE2_X5', 'MODULE3_SUBMOD1',]   }

In [3]:
df = read_data()
df.drop_duplicates(inplace=True)
df = df[xcolms+[ycolm]]
df.head(3)

reading  /home/pranay/Desktop/apple/apl/data/data_exercise2.csv

,PRODUCT,STATION_ID,MACHINEID,MACHINEID_TESTER,LINE_ID,MODULE1_Vendor,MODULE2_Vendor,MODULE2_CODE,MODULE2_FACTORY,MODULE2_X1,...,MODULE2_X5,MODULE2_BUILD,MODULE3_Vendor,MODULE3_TOOL,MODULE3_SUBMOD1,MODULE3_SUBMOD2,MODULE3_SUBMOD2_Config,MODULE3_PHASE,MODULE3_CTool,Failure
0,PRODUCT_1,STATION_ID_1,MACHINEID_1,MACHINEID_TESTER_1,LINE_ID_1,MODULE1_Vendor_1,MODULE2_Vendor_1,MODULE2_CODE_1,MODULE2_FACTORY_1,134,...,78,MODULE2_BUILD_1,MODULE3_Vendor_1,MODULE3_TOOL_1,1,MODULE3_SUBMOD2_1,MODULE3_SUBMOD2_Config_1,MODULE3_PHASE_1,MODULE3_CTool_1,0
1,PRODUCT_2,STATION_ID_1,MACHINEID_2,MACHINEID_TESTER_2,LINE_ID_1,MODULE1_Vendor_1,MODULE2_Vendor_2,MODULE2_CODE_1,MODULE2_FACTORY_2,137,...,78,MODULE2_BUILD_1,MODULE3_Vendor_1,MODULE3_TOOL_2,2,MODULE3_SUBMOD2_2,MODULE3_SUBMOD2_Config_2,MODULE3_PHASE_1,MODULE3_CTool_2,0
2,PRODUCT_2,STATION_ID_1,MACHINEID_2,MACHINEID_TESTER_2,LINE_ID_1,MODULE1_Vendor_1,MODULE2_Vendor_2,MODULE2_CODE_1,MODULE2_FACTORY_2,143,...,80,MODULE2_BUILD_1,MODULE3_Vendor_2,MODULE3_TOOL_1,1,MODULE3_SUBMOD2_3,MODULE3_SUBMOD2_Config_1,MODULE3_PHASE_1,MODULE3_CTool_1,0

In [4]:
data = sample(df, ycolm, 3, random_state=1234)

colms = operations['extract_int']
display(data[colms].head())
ts = extract_int(data, colms)
ts.head()

,STATION_ID,MACHINEID,MACHINEID_TESTER,MODULE2_FACTORY,MODULE2_BUILD,MODULE3_TOOL,MODULE3_SUBMOD2,MODULE3_CTool
0,STATION_ID_55,MACHINEID_63,MACHINEID_TESTER_129,MODULE2_FACTORY_6,MODULE2_BUILD_5,MODULE3_TOOL_10,MODULE3_SUBMOD2_38,MODULE3_CTool_80
1,STATION_ID_24,MACHINEID_29,MACHINEID_TESTER_56,MODULE2_FACTORY_7,MODULE2_BUILD_4,MODULE3_TOOL_3,MODULE3_SUBMOD2_42,MODULE3_CTool_14
2,STATION_ID_24,MACHINEID_19,MACHINEID_TESTER_54,MODULE2_FACTORY_7,MODULE2_BUILD_5,MODULE3_TOOL_11,MODULE3_SUBMOD2_40,MODULE3_CTool_19
3,STATION_ID_76,MACHINEID_54,MACHINEID_TESTER_128,MODULE2_FACTORY_9,MODULE2_BUILD_4,MODULE3_TOOL_9,MODULE3_SUBMOD2_37,MODULE3_CTool_77
4,STATION_ID_39,MACHINEID_63,MACHINEID_TESTER_125,MODULE2_FACTORY_6,MODULE2_BUILD_5,MODULE3_TOOL_9,MODULE3_SUBMOD2_16,MODULE3_CTool_76

,STATION_ID,MACHINEID,MACHINEID_TESTER,MODULE2_FACTORY,MODULE2_BUILD,MODULE3_TOOL,MODULE3_SUBMOD2,MODULE3_CTool
0,55,63,129,6,5,10,38,80
1,24,29,56,7,4,3,42,14
2,24,19,54,7,5,11,40,19
3,76,54,128,9,4,9,37,77
4,39,63,125,6,5,9,16,76

In [5]:
from apl.prep.ohe import fitted_ohe, ohe_transformer

colms = operations['oneHotEncode']
ohe = fitted_ohe(colms, df)# fit ohe over all data
t = ohe_transformer(ohe)
encoded = t.transform(data)
display(data[colms].head())
encoded.head()

,PRODUCT,LINE_ID,MODULE1_Vendor,MODULE2_Vendor,MODULE2_CODE,MODULE3_Vendor,MODULE3_SUBMOD2_Config,MODULE3_PHASE
0,PRODUCT_3,LINE_ID_19,MODULE1_Vendor_3,MODULE2_Vendor_8,MODULE2_CODE_3,MODULE3_Vendor_5,MODULE3_SUBMOD2_Config_20,MODULE3_PHASE_4
1,PRODUCT_2,LINE_ID_8,MODULE1_Vendor_1,MODULE2_Vendor_2,MODULE2_CODE_1,MODULE3_Vendor_1,MODULE3_SUBMOD2_Config_13,MODULE3_PHASE_4
2,PRODUCT_2,LINE_ID_8,MODULE1_Vendor_1,MODULE2_Vendor_2,MODULE2_CODE_1,MODULE3_Vendor_1,MODULE3_SUBMOD2_Config_13,MODULE3_PHASE_4
3,PRODUCT_3,LINE_ID_33,MODULE1_Vendor_3,MODULE2_Vendor_7,MODULE2_CODE_3,MODULE3_Vendor_5,MODULE3_SUBMOD2_Config_13,MODULE3_PHASE_4
4,PRODUCT_3,LINE_ID_20,MODULE1_Vendor_3,MODULE2_Vendor_8,MODULE2_CODE_3,MODULE3_Vendor_5,MODULE3_SUBMOD2_Config_13,MODULE3_PHASE_4

,PRODUCT_1,PRODUCT_2,PRODUCT_3,PRODUCT_4,LINE_ID_1,LINE_ID_10,LINE_ID_11,LINE_ID_12,LINE_ID_13,LINE_ID_14,...,MODULE3_SUBMOD2_Config_5,MODULE3_SUBMOD2_Config_6,MODULE3_SUBMOD2_Config_7,MODULE3_SUBMOD2_Config_8,MODULE3_SUBMOD2_Config_9,MODULE3_PHASE_1,MODULE3_PHASE_2,MODULE3_PHASE_3,MODULE3_PHASE_4,MODULE3_PHASE_5
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [6]:
from sklearn.preprocessing import StandardScaler
colms = operations['standardise']
x = data.loc[data.Failure==0, colms]
scaler = StandardScaler().fit(x)
scaled = scaler.transform(data[colms])
scaled = pd.DataFrame(scaled, columns=colms)
display(data[colms].head())
scaled.head()

   MODULE2_X1  MODULE2_X2  MODULE2_X3  MODULE2_X4  MODULE2_X5  MODULE3_SUBMOD1
0         145         161         741         809          79                1
1         141         161         721         807          80                2
2         125         162         642         813          77                2
3         135         158         696         797          77                1
4         137         161         701         808          77                2

   MODULE2_X1  MODULE2_X2  MODULE2_X3  MODULE2_X4  MODULE2_X5  MODULE3_SUBMOD1
0    1.400631    0.266403    1.455736    0.247330    0.764591        -0.939336
1    0.904439    0.266403    0.929386    0.051584    1.264068         1.064581
2   -1.080328    0.734572   -1.149697    0.638822   -0.234363         1.064581
3    0.160151   -1.138107    0.271448   -0.927145   -0.234363        -0.939336
4    0.408247    0.266403    0.403036    0.149457   -0.234363         1.064581

# conclusion: preprocessing class

In [7]:
from apl.data import read_data
from apl.prep.ohe import fitted_ohe
from apl.prep.prelim import xcolms, ycolm
from apl.prep.prep import preprocess, operations, sample

In [8]:
df = read_data()
df.drop_duplicates(inplace=True)
df = df[xcolms+[ycolm]]
# fit ohe over all data
ohe = fitted_ohe(operations['oneHotEncode'], df)

data = sample(df, ycolm, 3, random_state=1234)
x,y = data, data[['Failure']]
p = preprocess(operations, ohe, scale=True)
p.fit(x,y)
x = p.transform(x,y)

reading  /home/pranay/Desktop/apple/apl/data/data_exercise2.csv
fitting...
transforming...

In [9]:
x

,STATION_ID,MACHINEID,MACHINEID_TESTER,MODULE2_FACTORY,MODULE2_BUILD,MODULE3_TOOL,MODULE3_SUBMOD2,MODULE3_CTool,PRODUCT_1,PRODUCT_2,...,MODULE3_PHASE_2,MODULE3_PHASE_3,MODULE3_PHASE_4,MODULE3_PHASE_5,MODULE2_X1,MODULE2_X2,MODULE2_X3,MODULE2_X4,MODULE2_X5,MODULE3_SUBMOD1
0,-0.013745,0.690554,0.480258,-0.008806,1.124199,0.029138,0.035438,0.610714,0,0,...,0,0,1,0,1.400631,0.266403,1.455736,0.247330,0.764591,-0.939336
1,-1.147182,-0.974358,-1.140122,0.384543,-0.747138,-1.484004,0.231511,-1.745809,0,1,...,0,0,1,0,0.904439,0.266403,0.929386,0.051584,1.264068,1.064581
2,-1.147182,-1.464038,-1.184516,0.384543,1.124199,0.245301,0.133474,-1.567285,0,1,...,0,0,1,0,-1.080328,0.734572,-1.149697,0.638822,-0.234363,1.064581
3,0.754067,0.249842,0.458061,1.171243,-0.747138,-0.187025,-0.013581,0.503599,0,0,...,0,0,1,0,0.160151,-1.138107,0.271448,-0.927145,-0.234363,-0.939336
4,-0.598745,0.690554,0.391471,-0.008806,1.124199,-0.187025,-1.042966,0.467894,0,0,...,0,0,1,0,0.408247,0.266403,0.403036,0.149457,-0.234363,1.064581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4283,-0.671870,1.131266,0.724425,-0.402156,1.124199,2.406932,0.819731,0.717828,0,0,...,0,0,1,0,-0.211992,0.734572,-0.228584,0.638822,-0.234363,1.064581
4284,-1.476245,0.249842,0.125107,1.171243,-0.747138,-0.187025,1.898134,0.539304,0,0,...,0,0,1,0,1.400631,0.734572,1.403101,0.345203,-0.234363,-0.939336
4285,-1.549370,-1.659910,-1.473077,-0.402156,-0.747138,-0.619352,0.035438,-1.817219,0,1,...,0,0,1,0,-0.460088,-1.138107,-0.333854,-1.318637,1.264068,1.064581
4286,0.717505,0.641586,0.369274,-0.008806,-0.747138,0.029138,-0.748856,0.646418,0,0,...,0,0,1,0,1.648726,-0.669937,1.718911,-1.025018,1.763545,-0.939336
4287,1.119692,0.886426,0.879804,-0.008806,-0.747138,0.029138,0.035438,0.646418,0,0,...,0,0,1,0,0.408247,0.266403,0.429353,-0.046289,-0.733840,-0.939336